@font-face {
  font-family: 'Planet N';
  src: ufl('../fonts/planetn.ttf')
}
.navbar {
  padding: 0px !important;
}
.navbar #nav-logo {
  width: 100px;
}
.navbar .nav {
  background-color: #e3001b;
  border-radius: 0.5rem;
  margin-bottom: 1.2%;
  width: 100%;
}
.navbar .nav .nav-link {
  color: #f4c844;
}
footer {
  background-color: #0e133e;
  color: white;
  padding: 1%;
}
footer .border {
  border-top: 2rem !important;
  border-color: #5d6578;
}
footer h3 {
  font-size: 0.8rem;
}
.hero {
  background-image: url('../images/pizzaplanet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.mainlogo {
  width: 10%;
}
.jumbotron {
  border-radius: 0;
  margin-bottom: 1rem;
}
.btn {
  color: #f4c844;
  background-color: #e3001b;
  border-color: #f4c844;
}
.order-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #f4c844;
}
button .order-button {
  padding: 2%;
}
.story {
  background-color: #cacaca;
}
h1 {
  color: #e3001b;
}
h2 {
  text-align: center;
}
.col-12 {
  padding-bottom: 1.5%;
}
.maintext {
  margin-top: 3rem;
}
.about-main {
  background-image: url('../images/missioncontrol.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-h2 {
  padding-top: 25px;
  padding-bottom: 10px;
  color: white;
}
.about-p {
  padding: 10px 3%;
}
.about-p .greybox-small {
  border-radius: 0.5rem;
  background-color: rgba(105, 105, 105, 0.85);
  color: white;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.about-p .greybox-small p {
  padding-top: 10px;
}
.about-p .greybox-small .hours {
  list-style-type: none;
  padding: 0 15px 15px 15px;
}
.about-p .greybox {
  border-radius: 0.5rem;
  background-color: rgba(105, 105, 105, 0.85);
  padding: 10px 2.5%;
  margin-bottom: 10px;
  color: white;
}
.about-pics {
  text-align: center;
}
.about-pics .about-image {
  height: 175px;
  margin-bottom: 10px;
}
.menu-main {
  background-image: url('../images/pizzaplanet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.menu-logo {
  width: 50%;
  margin: 5% 7% !important;
}
.menu-h2 {
  padding-top: 25px;
  padding-bottom: 10px;
  color: white;
  font-size: 1.5rem;
}
.bluebox {
  width: 75%;
  margin: 0 auto !important;
  border-radius: 0.5rem;
  background-color: rgba(55,122,229,.75);
  padding: 10px 2.5%;
  margin: 10px;
  color: white;
  border-width: 20%;
  border-style: solid;
  border-color: rgb(217, 66, 48);
}
.menu-h3 {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}
.menu-list {
  list-style-type: none;
}
.menu-h3, .menu-list {
  text-align: center;
}
.menu-p {
  margin: 5%;
  padding-bottom: 5%;
}
.menu-p p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.menu-list li {
  letter-spacing: 5px;
  font-family: 'Planet N', sans-serif;
  padding: 2%;
  margin-top: 1%;
  font-size: 0.8rem;
  text-align: center;
}
.menu-food {
  display: flex;
  padding: 2%;
  justify-content: space-between;
}
.meal {
  width: 40%;
}
.alien {
  width: 100%;
}
.container {
  display: flex;
  padding: 2%;
  justify-content: space-between;
}
/* Sticky footer */
.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.menu-main {
  flex-grow: 1;
}
/* Sticky footer */


@media (min-width: 600px) {
  .menu-list li {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  .about-image {
    height: 225px !important;
  }
<<<<<<< HEAD
  .menu-h3 {
    font-size: 1.3rem;
  }
  .menu-p p, .menu-list {
    font-size: 1.1rem;
  }
  .menu-h2 {
    font-size: 2rem;
  }
  .menu-list li {
    font-size: 1rem;
  }
=======
>>>>>>> 9fdff3185fd309abd3014fbb26df229095ad5771
}
@media (min-width: 992px) {
  .about-image {
    margin-top: 20px;
    margin-bottom: 20px !important;
  }
  .menu-p p {
    font-size: 1.2rem;
  }
  footer h3 {
    font-size: 0.9rem;
  }
}
@media (min-width: 1050px) {
  .about-image {
    height: 250px !important;
  }
  .menu-list li {
    font-size: 1.2rem;
  }
  .menu-h3 {
    font-size: 1.5rem;
  }
}
