@font-face {
  font-family: 'Planet N';
  src: url('../fonts/planetn.ttf');
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: regular;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
.navbar {
  padding: 0px !important;
  justify-content: center;
}
#nav-logo {
  width: 100px;
}
.nav {
  background-color: #e3001b;
  border-radius: 0.5rem;
  margin-bottom: 1.2%;
  width: 85%;
  overflow: hidden;
  transition: height 0.5s;
  height: 0px;
}
.nav .nav-link {
  color: #f4c844;
  font-family: 'roboto';
}
.nav .nav-link:hover {
  font-weight: bold;
  color: #f4c844;
}
.show-mobile-menu {
  height: 120px;
  transition: height 0.5s;
}
#hamburger {
  display: block;
  color: #e3001b;
  background-color: white;
  margin: auto;
  font-size: 35px;
  text-decoration: none;
  border: 1px solid transparent;
}
footer {
  background-color: #0e133e;
  color: white;
  padding: 1%;
}
footer .border {
  border-top: 2rem !important;
  border-color: #5d6578;
}
h3 {
  font-size: 0.8rem;
  font-family: 'Roboto';
}
.hero {
  background-image: url('../images/pizzaplanet.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 250px;
}
.mainlogo {
  width: 10%;
}
.jumbotron {
  border-radius: 0;
  margin-bottom: 1rem;
}
.btn {
  color: #f4c844;
  background-color: #e3001b;
  border-color: #f4c844;
  font-family: 'roboto';
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-width: medium;
}
.btn:hover {
  color: #e3001b !important;
  background-color: #f4c844;
  border-color: #e3001b;
}
.img-thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0;
}
article p {
  padding-top: 0px;
}
.story {
  background-color: #cacaca;
}
h1 {
  color: #e3001b;
  font-family: 'Planet N';
  font-size: 1.8rem;
}
h2 {
  text-align: center;
  font-family: 'roboto';
  font-size: 1.5rem;
  font-weight: bold;
}
.col-12 {
  padding-bottom: 1.5%;
  font-family: 'roboto';
  font-size: 1.2rem;
}
.maintext {
  margin-top: 3rem;
  text-align: center;
  font-family: 'roboto';
  font-size: 1em;
  word-break: break-all;
}
.menu-main {
  background-image: url('images/pizzaplanet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.menu-logo {
  width: 50%;
  margin: 5% 7% !important;
}
ul .pizza li,
ul .salads li,
ul .snacks li,
ul .bevarages li,
ul .kids li,
ul .desserts li {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.65rem;
  text-align: center;
  letter-spacing: normal;
}
.menu-h2 {
  padding-top: 25px;
  padding-bottom: 10px;
  color: white;
  font-size: 1.5rem;
}
.menu-p {
  margin: 5%;
  padding-bottom: 5%;
}
p {
  padding-top: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.menu-list li {
  letter-spacing: 5px;
  font-family: 'Planet N', sans-serif;
  padding: 2%;
  margin-top: 1%;
  font-size: 0.8rem;
  text-align: center;
}
.bluebox {
  width: 75%;
  margin: 0 auto !important;
  border-radius: 0.5rem;
  background-color: rgba(55, 122, 229, 0.75);
  padding: 10px 2.5%;
  margin: 10px;
  color: white;
  border-width: 20%;
  border-style: solid;
  border-color: #d94230;
}
.menu-h3 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}
.menu-h3 .menu-list {
  text-align: center;
  list-style-type: none;
}
.menu-h3 .menu-list .menu-list li {
  letter-spacing: 5px;
  font-family: 'Planet N', sans-serif;
  padding: 2%;
  margin-top: 2%;
  font-size: 0.6rem;
  text-align: center;
}
ul .pizza,
ul .salads,
ul .snacks,
ul .beverages,
ul .kids,
ul .desserts {
  font-size: 0.8rem;
}
.meal {
  width: 40%;
}
.alien {
  width: 50%;
}
.family-meal {
  width: 50%;
  margin: 3%;
}
.container {
  display: flex;
  padding: 2%;
  justify-content: space-between;
}
.underline {
  border-bottom: 2px solid #d94230;
}
.about-main {
  background-image: url('../images/missioncontrol.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-h2 {
  padding-top: 25px;
  padding-bottom: 10px;
  color: white;
}
.about-p {
  padding: 10px 3%;
}
.about-p .greybox-small {
  border-radius: 0.5rem;
  background-color: rgba(105, 105, 105, 0.85);
  color: white;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
.about-p .greybox-small p {
  padding-top: 10px;
}
.about-p .greybox-small .hours {
  list-style-type: none;
  padding: 0 15px 15px 15px;
}
.greybox {
  border-radius: 0.5rem;
  background-color: rgba(105, 105, 105, 0.85);
  padding: 10px 2.5%;
  margin-bottom: 10px;
  color: white;
}
.about-pics {
  text-align: center;
}
.about-pics .about-image {
  height: 175px;
  margin-bottom: 10px;
}
.directions-main {
  background-image: url('../images/directions-background-2019-09-29a.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.directions-row {
  padding: 3%;
}
.directions-col-left {
  padding: 5% 0 5% 5%;
  background-color: rgba(0, 0, 0, 0.6);
}
.directions-col-right {
  padding: 5% 5% 0 5%;
}
.directions-h2 {
  font-size: 3rem;
  color: #ffffff;
  text-align: left;
}
.directions-body {
  font-size: 1.5rem;
  color: #ffffff;
}
@media (min-width: 600px) {
  .menu-list li {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  .about-image {
    height: 225px !important;
  }
  .menu-h3 {
    font-size: 1.3rem;
  }
  .menu-p p,
  .menu-list {
    font-size: 1.1rem;
  }
  .menu-h2 {
    font-size: 2rem;
  }
  .menu-list li {
    font-size: 1rem;
  }
}
@media (min-width: 890px) {
  .nav {
    height: 40px;
  }
  #hamburger {
    display: none;
  }
}
@media (min-width: 992px) {
  .about-image {
    margin-top: 20px;
    margin-bottom: 20px !important;
  }
  .menu-p p {
    font-size: 1.2rem;
  }
  footer h3 {
    font-size: 0.9rem;
  }
  ul .pizza,
  ul .salads,
  ul .snacks,
  ul .beverages,
  ul .kids,
  ul .desserts {
    font-size: 1rem;
  }
}
@media (min-width: 1050px) {
  .about-image {
    height: 250px !important;
  }
  .menu-list li {
    font-size: 1.2rem;
  }
  .menu-h3 {
    font-size: 1.5rem;
  }
}
